
@font-face {
   font-family: myFirstFont;
   src: url(NotoSansDisplay-Regular.ttf);
}

* {
   font-family: myFirstFont;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  position: relative;
  padding: 12px 8px 12px 40px;
  margin-top: 12px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.close:hover {
  background-color: #f44336;
  color: white;
  border-radius: 10px;
}

.header {
  background-color: #20639b;
  padding: 30px 40px;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.header:after {
  content: "";
  display: table;
  clear: both;
  border-radius: 10px;

}

input {
  margin: 0;
  border: none;
  border-radius: 10px;
  width: 85%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 15%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

.addBtn:hover {
  background-color: #53ccec;
}